* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #eee ;
font-family: 'Lato', sans-serif;
}

.logo {
width: 380px;
margin-top: 25px;
margin-left: 50px;
}

.test {
color: rgb(48, 48, 77);
}
nav{
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navs a{
    padding-right: 70px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
#header{
    padding-top: 50px;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#email{
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
#header button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color:  #f1c40f;
    font-weight: 900;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}
.section-container{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}
i{
    color: orange;
}
.side-note{
    flex:1;
}
/* input[type=submit] */

