@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #eee ;
font-family: 'Lato', sans-serif;
}

.logo {
width: 380px;
margin-top: 25px;
margin-left: 50px;
}

.test {
color: rgb(48, 48, 77);
}
nav{
    width: 90vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.navs a{
    padding-right: 70px;
    padding-left: 20px;
    padding-bottom: 0%;
    text-decoration: none;
    font-size: 25px;
    color: black;
    cursor: pointer;
}
#header{
    padding-top: 1px;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#email{
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
#header button{
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color:  #f1c40f;
    font-weight: 900;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}



.section-container{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}
i{
    color: orange;
}
.side-note{
    flex:1fr;
    width: 900px;
}

h2 {
    font-weight: bolder;
    text-align: center;
}
/* input[type=submit] */

.pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.level{
    background-color: gray;
}

.product {
    width: 200px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: white;
    margin-right: 20px;
    list-style-type:none;
    text-align: center;
}

.btn {
    background-color: #f1c40f;
    padding: 5px;
}
